body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

footer {
  font-size: 0.65rem;
}

#home-link {
  svg, img {
    width: 24px;
    height: 24px;
  }
}

#content_title {
  &.error {
    @apply text-red-500 capitalize font-medium;
  }
}

.anchor {
  @apply text-blue-600;

  &:hover {
    @apply text-blue-700 underline;
  }
}